<div class="middle">
  <div class="middle-header">
    <div class="select-wrapper--big">
      <select class="select--rarity select--big" [(ngModel)]="gear.rarity" (ngModelChange)="rarityChanged()">
        <option
          *ngFor="let rarity of GearRarity | enumToArray"
          [value]="getEnumValue(rarity, GearRarity)"
          [selected]="rarity === GearRarity[gear.rarity]">
          {{rarity}}
        </option>
      </select>
    </div>
    <div class="select-wrapper--big">
      <select class="select--big" [(ngModel)]="gear.type" (ngModelChange)="typeChanged()">
        <option
          *ngFor="let type of GearType | enumToArray"
          [value]="getEnumValue(type, GearType)"
          [selected]="type === GearType[gear.type]">
          {{type}}
        </option>
      </select>
    </div>
    <button (click)="rerollGear()">
      Reroll
    </button>
  </div>
  <hr>
  <picture class="non-selectable">
    <img width="256" height="256" [src]="getGearUri()" alt="gear picture">
  </picture>
  <div class="star-wrapper">
    <div
    *ngFor="let stars of [].constructor(5); let i = index"
    (click)="starsChanged(i+1)"
    [ngClass]="{
      'icon-star': (gear.stars >= i+1),
      'icon-star-empty': gear.stars < i+1,
      'star': true,
      'icon-disabled': !gear.rarity
    }"></div>
  </div>
  <hr>
  <div class="gear-table">
    <div class="enhancement" *ngFor="let enhancement of gear.enhancements | keyvalue">
      <!-- <span class="enhancement-detail">
        {{EnhancementType[enhancement.key]}}
      </span> -->
      <div class="select-wrapper--small enhancement-detail enh-type">
        <select class="select--small" [(ngModel)]="enhancement.key">
          <option
            *ngFor="let enhance of EnhancementType | enumToArray: gear.type > 5"
            [ngValue]="getEnumValue(enhance, EnhancementType)"
            [selected]="enhance === EnhancementType[enhancement.key]">
            {{enhance}}
          </option>
        </select>
      </div>
      <!-- <span class="enhancement-detail enh-value">
        {{enhancement.value}}
      </span> -->
      <input class="enhancement-detail enh-value"
        [(ngModel)]="enhancement.value"
        OnlyNumber>
      <span class="enhancement-detail enh-stars">
        {{getRangeLabel(gear.calculateNumberOfStars(enhancement.key, enhancement.value))}}
      </span>
      <span class="enhancement-detail enh-rating" [ngStyle]="{'color': gear.stars ? getColor(gear.calculatePercentage(enhancement.key, enhancement.value)) : 'white'}">
        {{getPercentageLabel(gear.calculatePercentage(enhancement.key, enhancement.value))}}
      </span>
      <div class="enhancement-detail info icon-info tooltip">
        <div class="tooltiptext">
          <div class="tooltipdesc">Base Stat:</div>
          <div class="tooltipvalue">{{gearRange.get(gear.rarity)!.get(enhancement.key)!.initial}}</div>
          <div *ngIf="!!gearRange.get(gear.rarity)!.get(enhancement.key)!.minUpgrade" class="tooltipdesc">Min Upgrade:</div>
          <div *ngIf="!!gearRange.get(gear.rarity)!.get(enhancement.key)!.minUpgrade" class="tooltipvalue">{{gearRange.get(gear.rarity)!.get(enhancement.key)!.minUpgrade}}</div>
          <div *ngIf="!!gearRange.get(gear.rarity)!.get(enhancement.key)!.maxUpgrade" class="tooltipdesc">Max Upgrade:</div>
          <div *ngIf="!!gearRange.get(gear.rarity)!.get(enhancement.key)!.maxUpgrade" class="tooltipvalue">{{gearRange.get(gear.rarity)!.get(enhancement.key)!.maxUpgrade}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="version">
      <p>ToF Version 1.5.5</p>
      <p style="font-style: italic;">Tower of Fantasy is a trademark of Hotta Studios and Perfect World Games.</p>
      <p>&copy; Necro - Hephaestus EUW</p>
    </div>
  </div>
</div>
