/* You can add global styles to this file, and also import other style files */
 html {
  background: #15131b;
  //background-color: #231717;
  color: white;
 }

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --var-zoom: 1.3;
  zoom: var(--var-zoom);
  -moz-transform: scale(var(--var-zoom));
  -moz-transform-origin: 0 0;
}
